th{
    background-color: lightgrey;
}
table, th, td {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
th, td {
    padding: 10px;
}
table {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100x;
    margin-bottom: 100px;
}
.img1, .img2, .img3 {
    height: 2in; width: 2.5in;
    border: 5px; border-color: red;
    padding: 30px;
}
styled-paragraph
text-align: center;
text-transform: uppercase;
font-family: monospace;
font-size: 25px;
a:hover {
    background-color: yellow;
}
/* Change link color to red on hover for the first link */
.styled-list li:first-child a:hover {
    color: red;
}
/* Change color when visited to gray for the second link */
.styled-list li:nth-child(2) a:visited {
    color: gray;
}
/* Change color of active links to orange for the third link */
.styled-list li:nth-child(3) a:active {
    color: orange;
}